body {
  font-family: 'Bahnschrift Light', 'Segoe UI', sans-serif;
  color: #E9E9E9;
  background-color: #000C1D;
  -ms-overflow-style: none;
  scrollbar-width: none;
  overflow-y: scroll;
}

.accent-blue {
  color: #7B73F0;
}

.accent-green {
  color: #27DDCB;
}

.top-header {
  margin-top: 30px;
}

.btn-green {
  background-color: #27DDCB;
  color: white;
  transition: 0.3s;
}

.btn-green:hover {
  background-color: #0EC4B2;
  color: #fafafa;
  transition: 0.3s;
}

.btn-blue {
  background-color: #7B73F0;
  color: white;
  transition: 0.3s;
}

.btn-blue:hover {
  background-color: #625AD7;
  color: #fafafa;
  transition: 0.3s;
}

.bg-dark, .table > thead.thead-dark th {
  /* background-color: #000415!important; */
  background-color: #000718!important;
}

::selection {
  background: #27DDCB;
  color: white;
}

h1 {
  font-family: 'Bahnschrift', 'Segoe UI', 'Segoe UI', sans-serif;
  font-size: 3.3rem;
  font-weight: bold;
}

h4 {
  font-family: 'Bahnschrift', 'Segoe UI', 'Segoe UI', sans-serif;
  font-size: 1.2rem;
  font-weight: normal;
}

hr {
  background-color: #344051;
  min-width: 150px;
  max-width: 80%;
}

/* Navbar */
.navbar-brand {
  font-family: 'Bahnschrift'
}

.navbar-dark .navbar-nav .nav-link {
  transition: 0.3s;
}

.navbar-dark .navbar-nav .nav-link:hover {
  transition: 0.3s;
  color: #7B73F0;
}

.navbar-dark .navbar-nav .nav-link.active {
  transition: 0.3s;
  font-weight: bold;
  color: #7B73F0;
}

/* Home Page */
.overall-panel {
  border-radius: 5px;
  padding: 40px 20px;
  background-color: #0D192A;
  width: 100%;
}

.card--header {
  font-family: 'Bahnschrift Light';
  font-size: 1.7rem;
  letter-spacing: 2px;
}

.card--outer {
  padding: 10px 5px;
}

.card--inner {
  background-color: #0D192A;
  color: #EAEAEA;
  border-radius: 5px;
  transition: 0.3s;
  padding: 25px;
  margin-right: auto;
  margin-left: auto;
  width: 98%;
}

.card--inner:hover {
  background-color: #172334;
  color: white;
  transition: 0.3s;
  cursor: pointer;
}

.progress-card--circle-text {
  color: #8497B0;
  font-size: 1.2rem;
}

.progress-card--header-text {
  font-size: 1.1rem;
  font-family: 'Bahnschrift Light', 'Segoe UI Light', 'Segoe UI', sans-serif;
  text-transform: uppercase;
  letter-spacing: 4px;
  color: #51647D;
}

.progress-card--metric {
  color: #27DDCB;
  font-size: 2.3rem;
}

.progress-card--metric-title {
  color: #8497B0;
  font-size: 1.0rem;
}

.progress-card--metric-between {
  color: #8497B0;
  font-size: 1.0rem;
}

/* Progress card - small */
.progress-card--circle-text-sm {
  color: #8497B0;
  font-size: 0.9rem;
}

.progress-card--header-text-sm {
  font-size: 0.9rem;
  font-family: 'Bahnschrift Light', 'Segoe UI Light', 'Segoe UI', sans-serif;
  text-transform: uppercase;
  letter-spacing: 2px;
  color: #51647D;
}

.progress-card--metric-sm {
  color: #27DDCB;
  font-size: 1.6rem;
}

.progress-card--metric-title-sm {
  color: #8497B0;
  font-size: 0.8rem;
}

.progress-card--metric-between-sm {
  color: #8497B0;
  font-size: 0.8rem;
}

/* Frequency tabs */
.frequency-tabs--link {
  color: #6B7E97;
  transition: 0.3s;
}

.frequency-tabs--link:hover {
  color: #27DDCB;
  transition: 0.3s;
}

.nav-pills .nav-link {
  border-radius: 0;
  transition: 0.4s;
  position: relative;
}

.nav-pills .nav-link::after {
  position: absolute;
  content: "";
  top: 100%;
  left: 0;
  width: 100%;
  height: 2px;
  background: #27DDCB;
  transform: scaleX(0);
  transition: 0.4s cubic-bezier(0.165, 0.84, 0.44, 1);
}
.nav-pills .nav-link:hover::after, .nav-pills .nav-link.active::after {
  transform: scaleX(1);
}

.nav-pills .nav-link.active {
  background-color: transparent;
  border-bottom: 1px solid #27DDCB;
  color: #27DDCB;
  transition: 0.4s;
}

/* OKR collapsibles */
.btn-okr-toggle {
  background-color: #6B7E97;
  color: #EAEAEA;
  transition: 0.3s;
}

.btn-okr-toggle:hover {
  background-color: #00AA98;
  color: #EAEAEA;
  transition: 0.3s;
}

/* Objective card */
.objective-card {
  background-color: #172334;
  padding: 15px 60px;
  position: relative;
  border-radius: 5px;
  transition: 0.3s;
  width: 100%;
}

.objective-card:hover {
  background-color: #1C2839;
  transition: 0.3s;
}

.btn.focus, .btn:focus {
  box-shadow: none;
}

.objective-card--tag {
  font-size: 1.1rem;
  font-family: 'Bahnschrift Light', 'Segoe UI Light', 'Segoe UI', sans-serif;
  text-transform: uppercase;
  letter-spacing: 3px;
  color: #958DFF;
}

.objective-card--title {
  color: #EAEAEA;
  font-size: 1.2rem;
  margin-top: 0px;
  margin-bottom: 0px;
}

.objective-card--text {
  color: #8497B0;
  margin-top: 0px;
  margin-top: 0px;
}

.arrow-div {
  position: absolute;
  display: block;
  left: 10px;
  transition: 0.3s;
}

.collapse-icon {
  height: 22px;
  width: 22px;
}

.btn-collapse {
  transition: 0.3s;
}

.fa-caret-right {
  font-size: 1.3rem;
  color: #27DDCB;
}

.rotated {
  transition: 0.4s;
  transform-box: fill-box;
  transform: rotate(90deg) translate(-2px, -2px);
  transform-origin: 50% 50%;
}

.progress {
  background-color: #010D1E;
  border-radius: 1.0rem;
}

div.progress.progress-keyresult {
  height: 0.7rem!important;
  background-color: #0B1728;
}

div.progress-bar {
  background-color: #7B73F0;
  border-radius: 1.0rem;
}

.progress-bar.progress-keyresult {
  background-color: #27DDCB;
}

.progress-text {
  color: #8497B0;
}

.progress-text-sm{
  color: #8497B0;
  font-size: 0.9rem;
}

/* KeyResult row */
.keyresult-row {
  background-color: #2C3849;
  padding: 10px 60px;
  border-radius: 4px;
  width: 100%;
  margin: 5px 0;
}

.keyresult-row--title {
  color: #EAEAEA;
  font-family: 'Bahnschrift Light', 'Segoe UI', sans-serif;
  margin-top: 0px;
  margin-bottom: 0px;
}

.keyresult-row--text {
  color: #8497B0;
  font-size: 0.9rem;
  margin-top: 0px;
  margin-bottom: 0px;
}

/* Details / Edit */
.btn-edit {
  margin-top: 0;
  margin-bottom: 0;
  padding-top: 0;
  padding-bottom: 0;
}

.edit-icon-div {
  height: 15px;
  width: 15px;
  margin: 0;
  padding: 0;
}

.edit-icon {
  font-size: 0.9rem;
  color: #8497B0;
  transition: 0.3s;
  height: 14px;
  width: 14px;
  margin-top: 0;
  margin-left: 0;
  margin-right: 0;
  margin-bottom: 6px;
  padding: 0px;
}

.edit-icon:hover {
  color: #27DDCB;
  transition: 0.3s;
}

.modal-title {
  text-transform: uppercase;
  letter-spacing: 4px;
}

.modal-content {
  background-color: #0D192A;
}

.modal-header {
  background-color: #000C1D;
  padding: 1rem 2rem;
  border-bottom: none;
}

.modal-body {
  padding: 1rem 2rem;
}

.modal-footer {
  border-top: none;
  background-color: #000C1D;
}

button.close {
  color: white;
  transition: 0.3s;
}

button.close:hover {
  color: #fafafa;
  transition: 0.3s;
  transform: scale(1.1);
}

/* Forms */
.form-dark, .form-dark:focus {
  background-color: #0D192A;
  color: #ddd;
  border: 0;
  padding-left: 0;
  padding-right: 0;
  box-shadow: none;
  transition: 0.3s;
}

.form-dark:focus {
  color: white;
}

.form--edit {
  color: white;
  transition: 0.3s;
}

.form-dark:disabled {
  background-color: #0D192A;
  border: #2C3849;
}

.form-element {
  margin-bottom: 20px;
  padding: 0;
}

.form-element:after {
  content: '';
  display: block;
  margin: 0;
  height: 1px;
  width: 0px;
  background: transparent;
  transition: width .5s ease, background-color .5s ease;
}

.form-element-open.form-element:after {
  width: 100%;
  background: #2C3849;
}

textarea.form-dark {
  background-color: #0D192A;
  min-height: 35px;
  overflow: hidden;
}

.form--label {
  font-size: 0.9rem;
  font-family: 'Bahnschrift Light', 'Segoe UI Light', 'Segoe UI', sans-serif;
  text-transform: uppercase;
  letter-spacing: 3px;
  color: #8497B0;
  margin-bottom: 0;
}

/* The switch - the box around the slider */
.form--switch {
  position: relative;
  display: inline-block;
  width: 45px;
  height: 25px;
  margin-right: 10px;
}

/* Hide default HTML checkbox */
.form--switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.form--slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #2C3849;
  -webkit-transition: .4s;
  transition: .4s;
}

.form--slider:before {
  position: absolute;
  content: "";
  height: 17px;
  width: 17px;
  left: 4px;
  bottom: 4px;
  background-color: #EAEAEA;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .form--slider {
  background-color: #7B73F0;
}

input:focus + .form--slider {
  box-shadow: 0 0 1px #7B73F0;
}

input:checked + .form--slider:before {
  -webkit-transform: translateX(20px);
  -ms-transform: translateX(20px);
  transform: translateX(20px);
}

.form--slider.round {
  border-radius: 34px;
}

.form--slider.round:before {
  border-radius: 50%;
}