body {
    font-family: 'Bahnschrift Light', 'Segoe UI', sans-serif;
    color: #E9E9E9;
    background-color: #000C1D;
}

.accent-blue {
    color: #7B73F0;
}

.accent-green {
    color: #27DDCB;
}

.top-header {
    margin-top: 30px;
}

.bg-dark, .table > thead.thead-dark th {
    /* background-color: #000415!important; */
    background-color: #000718!important;
}

::selection {
    background: #27DDCB;
    color: white;
}

h1 {
    font-family: 'Bahnschrift', 'Segoe UI', 'Segoe UI', sans-serif;
    font-size: 3.3rem;
    font-weight: bold;
}

h4 {
    font-family: 'Bahnschrift', 'Segoe UI', 'Segoe UI', sans-serif;
    font-size: 1.2rem;
    font-weight: normal;
}

hr {
    background-color: #344051;
}

.navbar-brand {
    font-family: 'Bahnschrift'
}

/* Home Page */
.overall-panel {
    border-radius: 5px;
    padding: 40px 20px;
    background-color: #0D192A;
    width: 100%;
}

.card--header {
    font-family: 'Bahnschrift Light';
    font-size: 1.7rem;
    letter-spacing: 2px;
}

.card--outer {
    padding: 10px 5px;
}

.card--inner {
    background-color: #0D192A;
    color: #EAEAEA;
    border-radius: 5px;
    transition: 0.3s;
    padding: 25px;
    margin-right: auto;
    margin-left: auto;
    width: 98%;
}

.card--inner:hover {
    background-color: #172334;
    color: white;
    transition: 0.3s;
    cursor: pointer;
}

.progress-card--circle-text {
    color: #8497B0;
    font-size: 1.2rem;
}

.progress-card--header-text {
    font-size: 1.3rem;
    font-family: 'Bahnschrift Light', 'Segoe UI Light', 'Segoe UI', sans-serif;
    text-transform: uppercase;
    letter-spacing: 4px;
    color: #51647D;
}

.progress-card--metric {
    color: #27DDCB;
    font-size: 2.3rem;
}

.progress-card--metric-title {
    color: #8497B0;
    font-size: 1.0rem;
}

.progress-card--metric-between {
    color: #8497B0;
    font-size: 0.9rem;
}

/* Progress card - small */
.progress-card--circle-text-sm {
    color: #8497B0;
    font-size: 0.9rem;
}

.progress-card--header-text-sm {
    font-size: 1.0rem;
    font-family: 'Bahnschrift Light', 'Segoe UI Light', 'Segoe UI', sans-serif;
    text-transform: uppercase;
    letter-spacing: 2px;
    color: #51647D;
}

.progress-card--metric-sm {
    color: #27DDCB;
    font-size: 1.6rem;
}

.progress-card--metric-title-sm {
    color: #8497B0;
    font-size: 0.8rem;
}

.progress-card--metric-between-sm {
    color: #8497B0;
    font-size: 0.7rem;
}

/* Objective card */
.objective-card {
    background-color: #172334;
    padding: 40px 60px;
    position: relative;
}

.objective-card--tag {
    font-size: 1.1rem;
    font-family: 'Bahnschrift Light', 'Segoe UI Light', 'Segoe UI', sans-serif;
    text-transform: uppercase;
    letter-spacing: 3px;
    color: #51647D;
}

.objective-card--title {
    color: #EAEAEA;
}

.objective-card--description {
    color: #8497B0;
}

.objective-card--progress-text {
    color: #8497B0;
}

.arrow-right {
    content: "";
    position: absolute;
    display: block;
    width: 0;
    height: 0;
    left: 30px;
    top: 72px;
    border-top: 10px solid transparent;
    border-bottom: 10px solid transparent;
    border-left: 10px solid #27DDCB;
}

.arrow-down {
    content: "";
    position: absolute;
    display: block;
    width: 0;
    height: 0;
    left: 30px;
    top: 72px;
    border-right: 10px solid transparent;
    border-bottom: 10px solid transparent;
    border-left: 10px solid #27DDCB;
}

.progress {
    background-color: #010D1E;
}

.progress-bar {
    background-color: #27DDCB;
}