body {
    font-family: 'Bahnschrift Light', 'Segoe UI', sans-serif;
    color: #E9E9E9;
    background-color: #000C1D;
}

.accent-blue {
    color: #7B73F0;
}

.accent-green {
    color: #27DDCB;
}

.top-header {
    margin-top: 30px;
}

.bg-dark, .table > thead.thead-dark th {
    /* background-color: #000415!important; */
    background-color: #000718!important;
}

::selection {
    background: #27DDCB;
    color: white;
}

h1 {
    font-family: 'Bahnschrift', 'Segoe UI', 'Segoe UI', sans-serif;
    font-size: 3.3rem;
}

.navbar-brand {
    font-family: 'Bahnschrift'
}

.card--header {
    font-family: 'Bahnschrift Light';
    font-size: 1.5rem;
    letter-spacing: 2px;
}

.card--outer {
    padding: 10px 5px;
}

.card--inner {
    background-color: #1A2637;
    color: #EAEAEA;
    border-radius: 5px;
    transition: 0.3s;
    padding: 25px 15px;
    margin-right: auto;
    margin-left: auto;
    width: 98%;
}

.card--inner:hover {
    background-color: #344051;
    color: white;
    transition: 0.3s;
    cursor: pointer;
}

#overall_progress {
    width: 100%;
    border-radius: 5px;
    padding: 40px 20px;
    background-color: #0D192A;
}

.progress-card--circle-text {
    color: #8497B0;
}